<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<%= form_for(Comment.new) do |f| %>

 <div class="field" >
    <%= f.label :comments %><br>
    <%= f.text_area :description %>
   <%= f.hidden_field :program_id, :value => @program.id %>
  </div>
  
  <div class="actions">
    <%= button_to "Create comment" ,:action=>"create", :controller=>"comments"  %>
  </div> 
  <%end%>

<fieldset>
<h2><u>Comments</u></h2>

<% @c.map do |c|  %>
	<br>
	<%= c.description%>
<%end%>
</fieldset

